   table, tr, th, td{
              border: 1px solid black;
           border-collapse;}                                                                                                                                                                            {background-color: Lemonchiffon;
		   </Style>
