table, tr, th, td{
  1               border: 1px solid black;         
  2            border-collapse;}
  h1{background-color;brown}
  body {background-color: Lemonchiffon; Font-family:"Tahoma","Helvetica",san    s-serif;}
  4 Header {background-color:lightblue;
  5 border: 3px solid black;
  6 padding 30px;
  7 border-left: 5px dashed green;
  8 margin: 20px;
  9 margin-left: 100px;
 10 text-align: center;}
 11 table{width: 100px; margin: auto;}
 12            #firstlink{backgrond-color: BlanchedAlmond;}
 13            #info{background-color: cyan;}:
 14            .checker{background-color: chartreuse;}
            a img {
              pointer-events: auto;
              cursor: pointer;
            }
 15            </Style>
 16 
 17 

